html{
    cursor: url(../Imagens/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(../Imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mosquito1{
    height: 50px;
    width: 50px;
}

.mosquito2{
    height: 70px;
    width: 70px;
}

.mosquito3{
    height: 90px;
    width: 90px;
}

/*inverte a escala da imagem*/
.ladoA{
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.ladoC{
    transform: scale(-2);
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.cronometro,.pontos{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.pontos span#ponto{
    text-align: center;
    float: right;
    width: 100px;
    display: block;
    
}

/*
.pontos input{
    float: right;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
*/

select.select{
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font: Arial;
    color: #707070;
}

#rodap{
    text-align: center;
    color: #464545;
    font-weight: bold;
}